.Headercontainer{
    background-color: #00A2E1;
    width: 100%;
    height: 60px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactimg{
    padding-left: 20px;
    padding-right: 10px;
}